
.view-landing {
  background-image: url('https://s3-us-west-2.amazonaws.com/ways2go/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.main-color {
  color: black;
}

.pop {
  color: #2196F3;
}


// .resource-thumbnails {
//   max-width: 100%;
// }
//'../assets/background.jpg'